# Core Libraries
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2

# Machine Learning / Deep Learning
tensorflow==2.17.0
keras==3.4.1
scikit-learn==1.5.2

# Data Source
yfinance==0.2.43

# Web App
streamlit==1.39.0

# Utility
requests==2.32.3
